/*Ask how I can make the main content section scale in height to the ammount of content I am putting in it
without ruining my current styling. Maybe I just designed this wrong...*/

* { box-sizing: border-box;
}

.main .name {
    position: absolute;
    top: -131px;
    left: -1px;                            /* left 1px to align with the 1px border*/    
    color: #ffffff; 
    margin: auto;
    background-color: #4aaaa5;
    width: 265px;
    height: 90px;
    line-height: 60px;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    
}

.main .name h1 {
    color: #ffffff;
    line-height: 90px;
}


body {
     background-image: url(../images/triangle-mosaic.png);
     color: #777777;
     position: relative;
     height: 100%;
     margin: 0;
}


.main {
    width: 960px;
    height:835px;
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    margin-top: 40px;
    background-color: #ffffff;
    border-color: #dddddd;
    position: relative;

}

.main h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24pt;
    margin: 10px;
}

.profilepic {
    position: absolute;
    padding: 1px;
    margin: 15px;
    width: 175px;
    height: 175px;
    float: left;
}

#aboutmefloated {
    width: 700px;
    float: right;
    padding: 10px;
    margin: 10px;
    margin-bottom: -10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

#aboutmenofloat {
    width: 900px;
    float: left;
    padding: 5px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    height: 90px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
    border-color: #cccccc;
    margin: auto;
    
}

.footer {
    background-color: #666666;
    padding: 1px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: #dddddd;
    font-size: 10pt;
    margin-top: 90px;
    
}

a:link {
    color: #777777;
}

.navbar {
    position: absolute;
    right: -1px;                          /*To align with 1px border again*/
    top: -90px;
    color: #777777;
    
}

.navbar .indexnav {
    border-right: 1px solid #777777;
    padding: 5px;

}

.navbar .portfolionav {
    border-right: 1px solid #777777;
    padding: 5px;
}

.navbar .contactnav {
    padding: 5px;
}

.boxone {
    position: relative;
    width: 225px;
    height: 225px;
    margin: 10px;
}

.asgard{
    position: absolute;
    left: 35px;
    top: 265px;
    width: 225px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
}

.boxtwo {
    position: relative;
    width: 225px;
    height: 225px;
    transform: rotate(90deg);
    margin: 10px;

}

.guye {
    position: absolute;
    top: 265px;
    left: 284px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 225px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.boxthree {
    position: relative;
    width: 225px;
    height: 225px;
    transform: rotate(90deg);
    margin: 10px;
    right: 498px;
    top: 249px;
}

.hood {
    position: absolute;
    left: 35px;
    top: 515px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 225px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.boxfour {
    position: relative;
    width: 225px;
    height: 225px;
    margin: 10px;
    left: 249px;
}

.baker {
    position: absolute;
    left: 284px;
    top: 515px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 225px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.boxfive {
    position: relative;
    width: 225px;
    height: 225px;
    margin: 10px;
    top: 249px;
    right: 249px;
}

.ranier {
    position: absolute;
    left: 35px;
    bottom: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 225px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

form {
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 100%;
    border-color: #dddddd;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}


textarea {
    width: 100%;
    height: 200px;
    border-color: #dddddd;
    border-style: solid;
    margin: 10px;
    padding: 10px;

}

.submit {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16pt;
    margin: 10px;
    padding: 10px;
    
}

.message {
    margin:10px;
}

